body{
    width: 100vw !important;
    overflow-x: hidden !important;
}
.nav-bar-custuom{
    -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.392);
}

.drop-down-container:hover .dropdownHover
{
    animation: showDropdown 1s;
    animation-fill-mode: forwards;
    top: 4rem;
    transition: all 1s;
    
}
.dropdownHover
{
    position: relative;
    opacity: 0;
}
.buttonAnimation
{
    position: relative !important;
    overflow: hidden;
    z-index: 1;
}
.buttonAnimation::before
{
    content: '';
    width: 1rem;
    height: 1rem;
    background-color: #0E104B;
    position: absolute;
    top: 3rem;
    left: 3rem;
    border-radius: 50%;
    transition: all 500ms;
    z-index: 1;
}
.buttonAnimation:hover::before
{
    scale: 13;
}
.rightToLeft {
    animation: rightToLeft 1s infinite alternate ease-in-out;
}
.ribbonRotate {
    animation: ribbonRotate 2s infinite alternate ease-in-out;
}
.mask-img-wrap {
    -webkit-mask-image: url(../Images/images/mask_img.png);
    mask-image: url(../Images/images/mask_img.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    height: 500px;
    margin: 0 auto;
}
.mask-img-wrap img {
    max-width: unset;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .experience-year {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0E104B;
    border: 4px solid white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
  }
  .experience-year .icon {
    width: 80px;
    height: 80px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #facc15;
    color: white;
    line-height: 0;
    font-size: 36px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
  .experience-year .content .circle {
    position: absolute;
    margin-bottom: 0;
    font-size: 15px;
    text-transform: uppercase;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: var(--tg-color-white-default);
    animation: rotateChar 10s linear infinite;
  }
  .experience-year .content .circle span {
    position: absolute;
    top: -64px;
    left: -.1rem;
    display: inline-block;
    transform-origin: 0 64px;
    color: white;
    font-weight: 800;
  }
  
  @keyframes rotateChar {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg); /* Full rotation */
    }
  }
@keyframes ribbonRotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}
@keyframes rightToLeft {
    0% {
        transform: translateX(-2rem);
    }
    100% {
        transform: translateX(-6rem); /* Adjust to the distance you need */
    }
}

@keyframes showDropdown
{
    100%
    {
        visibility: visible;
        opacity: 1;
    }
}
*::selection
{
    background-color: rgb(250 204 21 / 1);
    color: white;
}